<?xml version="1.0" encoding="UTF-8"?>
<?define ProductVersion = "1.0.0.0"?>
<?define ProductUpgradeCode = "{fefd82cd-f339-4125-a858-dcd8e019587a}"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:ui="http://schemas.microsoft.com/wix/UIExtension">
	<Product Id="*" Name="!(loc.ProductName)" 
           Language="!(loc.LANG)" 
           Version="$(var.ProductVersion)" 
           Manufacturer="!(loc.ProductManufacturer)" 
           UpgradeCode="$(var.ProductUpgradeCode)">
    
		<Package InstallerVersion="200" 
             Compressed="yes"             
             InstallScope ="perUser"
             Manufacturer="!(loc.ProductManufacturer)" 
             Description="!(loc.ProductDescription)"
             Comments="!(loc.ProductCopyright)"/>

    <MediaTemplate EmbedCab="yes" />
		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="ExcelAddInDeploy" />
      </Directory>
      <Directory Id="AppDataFolder">
        <Directory Id="COMPANYAPPDATADIR" Name="!(loc.ProductManufacturer)">
          <!-- !! THIS ID IS USED IN THE CUSTOM ACTION SO DO NOT CHANGE IT -->
          <Directory Id="AddinFolder" Name="!(loc.ProductName)">
          </Directory>
        </Directory>
      </Directory>
    </Directory>

		<Feature Id="ProductFeature" Title="!(loc.ProductName)" Description="!(loc.ProductDescription)" Level="1" AllowAdvertise="no">
			<ComponentGroupRef Id="XLLDistributables" />
		</Feature>

    <PropertyRef Id="NETFRAMEWORK40CLIENT" />
    <Condition Message="[ProductName] requires .NET Framework 4.0.">Installed OR NETFRAMEWORK40CLIENT</Condition>
    <UI Id="UI">
      <!--See http://wix.sourceforge.net/manual-wix3/WixUI_index.htm for more information
       The following line adds the minimal WiX Dialog set to the install-->
      <UIRef Id="WixUI_Minimal"/>
      <!-- This TextStyle is used in the CustonMessages.wxl file -->
      <TextStyle Id="Black10" FaceName="Tahoma" Size="10" Red="0" Green="0" Blue="0" Bold="yes" />
    </UI>
    <!--IMPORTANT ALL MS OFFICE SUPPORTED VERSIONS ARE HERE: Office 2003, 2007, 2010, 2013, 2016 Keep it uptodate-->
    <!-- these numbers will be parsed individually in the custom actions with InvariantCulture and NumberStyles.Any -->
    <Property Id="OFFICEREGKEYS" Value="11.0,12.0,14.0,15.0,16.0" />
    <Property Id="XLL32" Value="!(loc.ProductNameNoSpace)32.xll" />
    <Property Id="XLL64" Value="!(loc.ProductNameNoSpace)64.xll" />

    <!-- The property below will disable the repair button. -->
    <!--<Property Id="ARPNOREPAIR" Value="yes" />-->
    <Property Id="PromptToCloseProcesses" Value="EXCEL" />
    <Property Id="PromptToCloseDisplayNames" Value="Microsoft Excel" />

    <!--
    To handle registering the XLL, a custom action project must be created and a project reference must be created. 
    This project will create a DLL that WiX can understand.
    The binary refers to the dll created by the custom action project.
    If values are to be passed to the custom action project, the set property actions must precede the action specifying the DLL entry point.
    The InstallExecuteSequence specifies the sequence to run the actions and the AdminExecuteSequence provide rights to non-admin users (to the registry).
    For more information on custom actions, read
    http://www.codeproject.com/Articles/132918/Creating-Custom-Action-for-WIX-Written-in-Managed?fid=1599130&df=90&mpp=25&noise=3&prof=False&sort=Position&view=Quick&spc=Relaxed&select=4131367&fr=1#xx0xx
    -->

    <Binary Id="InstallerCA.CA.dll" SourceFile="C:\Users\Analyst.pc6\Documents\Visual Studio 2015\Projects\testClassLib\InstallerCA\bin\Debug\InstallerCA.dll" />
    <CustomAction Id="Action_RegisterAddIn.SetProperty" Return="check" Property="Action_RegisterAddIn" Value="OFFICEREGKEYS=[OFFICEREGKEYS];XLL32=[XLL32];XLL64=[XLL64]" />
    <CustomAction Id="Action_RegisterAddIn" BinaryKey="InstallerCA.CA.dll" DllEntry="CaRegisterAddIn" Return="check" Execute="immediate">
    </CustomAction>
    <CustomAction Id="Action_UnRegisterAddIn.SetProperty" Return="check" Property="Action_UnRegisterAddIn" Value="OFFICEREGKEYS=[OFFICEREGKEYS];XLL32=[XLL32];XLL64=[XLL64]" />
    <CustomAction Id="Action_UnRegisterAddIn" BinaryKey="InstallerCA.CA.dll" DllEntry="CaUnRegisterAddIn" Return="check" Execute="immediate" />
    <CustomAction Id="Action_CloseAppsPrompt" BinaryKey="InstallerCA.CA.dll" DllEntry="ClosePrompt" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="Action_CloseAppsPrompt" After="Action_RegisterAddIn.SetProperty" />
      <Custom Action="Action_RegisterAddIn.SetProperty" Before="Action_RegisterAddIn">NOT Installed</Custom>
      <Custom Action="Action_RegisterAddIn" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="Action_UnRegisterAddIn.SetProperty" Before="Action_UnRegisterAddIn">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="Action_UnRegisterAddIn" Before="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
    <AdminExecuteSequence>
      <Custom Action="Action_CloseAppsPrompt" After="Action_RegisterAddIn.SetProperty" />
      <Custom Action="Action_RegisterAddIn.SetProperty" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="Action_RegisterAddIn" After="Action_RegisterAddIn.SetProperty">NOT Installed</Custom>
      <Custom Action="Action_UnRegisterAddIn.SetProperty" Before="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="Action_UnRegisterAddIn" After="Action_UnRegisterAddIn.SetProperty">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </AdminExecuteSequence>

  </Product>

	<Fragment>
    <!-- 
    Components always have unique GUIDs so that Windows can track every file installed. This information is stored in the registry.
    Components should only contain a single file. KeyPath files will be replaced if missing by the repair button on the installer.
    Try using for source: $(var.PROJECTREF.TargetDir)$(var.PROJECTREF.TargetName)-AddIn64-packed.xll
    -->
    <ComponentGroup Id="XLLDistributables">
      <Component Id="XLL32" Guid="{4590c996-204e-4a61-aee0-e9e9c7066db8}" Directory="AddinFolder">
        <RegistryValue Root="HKCU" Key="Software\!(loc.ProductManufacturer)\Excel Add-In" Name="Xll32Bit" Value="AddIns" KeyPath="yes" Type="string" />

        <File Id="EXCELXLL32PACKED.XLL" Name="!(loc.ProductNameNoSpace)32.xll" Source="C:\Users\Analyst.pc6\Documents\Visual Studio 2015\Projects\testClassLib\testClassLib\bin\Debug\testClassLib-AddIn-packed.xll" >
          <netfx:NativeImage Id="ngen_32Xll" Platform="32bit" Priority="0"/>
        </File>
      </Component>
      <Component Id="XLL64" Guid="{da38b901-5412-4ed9-bf9b-d2215666b152}" Directory="AddinFolder">
        <RegistryValue Root="HKCU" Key="Software\!(loc.ProductManufacturer)\Excel Add-In" Name="Xll64Bit" Value="AddIns" KeyPath="yes" Type="string" />

        <File Id="EXCELXLL64PACKED.XLL" Name="!(loc.ProductNameNoSpace)64.xll" Source="C:\Users\Analyst.pc6\Documents\Visual Studio 2015\Projects\testClassLib\testClassLib\bin\Debug\testClassLib-AddIn64-packed.xll" >
          <netfx:NativeImage Id="ngen_64Xll" Platform="64bit" Priority="0"/>
        </File>
        <RemoveFile On="uninstall" Id="XLL32" Directory="AddinFolder" Name="!(loc.ProductNameNoSpace)32.xll" />
        <RemoveFile On="uninstall" Id="XLL64" Directory="AddinFolder" Name="!(loc.ProductNameNoSpace)64.xll" />
        <RemoveFolder Id="AddinFolderRemove" Directory="AddinFolder" On="uninstall" />
        <RemoveFolder Id="COMPANYAPPDATADIRRemove" Directory="COMPANYAPPDATADIR" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
