html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----End of Reset-----*/

body {
	font-family: Helvetica, sans-serif;
	color: #333;
}

a {
	text-decoration: none;
	color: #428bca;
	font-weight: 600;
	margin-left: 2px;
}

#TElogo {
	margin-left: -4.5px;
}

#mainMenu a {
	color: #fff;
	font-weight: 300;
	font-size: 0.925rem;
	line-height: 25px;
	padding-left: 12px;
	display: block;
}

hr {
	margin-top: 40px;
	border: 1px solid #ddd;
}

#mainMenu {
	width: 200px;
    height: 100vh;
	background-color: #333;
	float: left;
	overflow: auto;
	color: #fff;
	position: fixed;
}

#mainMenu div {
	margin-top: 35px;
}

#mainMenu li {
	display: block;
	padding: 0px 15px;
	font-size: 19px;
	line-height: 28px;
	transition: background-color 0.125s linear;
}

#mainMenu li:hover {
	cursor: pointer;
}

#mainMenu ul {
	background-color: #333;
}

#mainMenu ul ul {
	background-color: #222;
	background-image: linear-gradient(#111, #222, #111);
	border-top: 1px solid #000;
	border-bottom: 1px solid #666;
	transition: height 0.2s linear;
	overflow: hidden;
}

#mainMenu ul ul li {
	padding-left: 25px;
	font-size: 0.95rem;
}

#contentContainer {
	height: 100vh;
	overflow: auto;
	float: left;
	margin-left: 200px;
}

#contentContainer section {
	margin: 30px 10%  0 10%;
}

#contentContainer section section {
	margin: 30px 0  0 35px;
}

#contentContainer section p span {
	font-size: 0.9rem;
	display: inline;
	font-weight: 600;
}

span {
	display: block;
	margin-bottom: -25px;
	font-size: 0.8rem;
}

h1 {
	display: block;
	font-size: 2.2rem;
	font-weight: 600;
	margin: 84px 0 62px 10%;
}

h2 {
	display: block;
	font-size: 1.6rem;
	font-weight: 600;
	margin: 20px 0;
}

h3 {
	display: block;
	font-size: 1.2rem;
	font-weight: 600;
	margin: 30px 0 20px 0;
}

#contentContainer p {
	line-height: 1.5rem;
	font-size: 0.9rem;
	margin: 18px 0;
}

img {
	max-width: 100%;
}

#lastSection {
	padding-bottom: 120px;
}

#mobileHeader {
	display: none;
}

#lastSection {
	min-height: 85vh;
}

strong {
	font-weight: 600;
}

#burger {
	display: none;
}

#dashedHr {
	margin: 20px 0;
	border: 0.5px dashed #666;
}

@media screen and (max-width: 790px) {
	#mobileHeader {
		display: block;
		width: 100%;
		background-color: #333;
	}

	#TElogoMobile {
		margin-left: 45px;
	}

	h1 {
		margin-top: 50px;
	}

	#burger {
		display: block;
		position: fixed;
		width: 28px;
		margin-top: 50px;
		padding: 4px 4px 4px 7px;
		background-color: #333;
	}

	#contentContainer {
		width: 100%;
		margin-left: 0;
	}
}