<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  >
    <targets>
      <target xsi:type="File" name="f"
              fileName ="${basedir}/teLogs/teLogReport_${shortdate}.log"
              layout ="${identity} - ${machinename} - ${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              keepFileOpen="false"
              archiveFileName="${basedir}/teLogsArchive/teLogReport_{#}.log"
              archiveNumbering="Date"
              archiveEvery="Day"
              archiveDateFormat="yyyy-MM-dd"
              maxArchiveFiles="15"
              archiveOldFileOnStartup="true"
              createDirs="true"/> 
      <target xsi:type="Network"
              name ="networkLog"
              onOverflow="Split"
              newLine="True"
              layout ="${processid} - ${machinename} - ${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              address="tcp://127.0.0.1:4001"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="f" />
      <logger name="*" minLevel="Info" writeTo="networkLog"/>
    </rules>
  </nlog>
</configuration>