<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 <targets>
   <target xsi:type="File" name="f" 
           fileName ="${basedir}/mega_log_file${shortdate}.log"
           layout="${stacktrace} ${message}" />
 </targets>
 <rules>
   <logger name="*" minlevel="Trace" writeTo="f" />
 </rules>
</nlog>
</configuration>