<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDna.AddIn" version="0.33.9" targetFramework="net452" />
  <package id="ExcelDna.Integration" version="0.33.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.4.1" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.1" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.1" targetFramework="net452" />
</packages>