<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  >
    <targets>
      <target xsi:type="File" name="f"
              fileName ="${basedir}/Logs/logReport_${shortdate}.log"
              layout ="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              keepFileOpen="false"
              archiveFileName="${basedir}/LogsArchive/logReport_{#}.log"
              archiveNumbering="Date"
              archiveEvery="Day"
              archiveDateFormat="yyyy-MM-dd"
              maxArchiveFiles="15"
              archiveOldFileOnStartup="true"
               createDirs="true"/>      
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="f" />
    </rules>
  </nlog>
</configuration>