<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Input Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class=" col-md-6 offset-3 ">
        <h1 class="items-center text-center mt-5">Data Input for term</h1>
        <div class="col-md-2 offset-5">
        <form action="/term" method="POST">
            <label for="term">Term : e.g country name </label>
            <input  class="form-control"type="text" id="term" name="term"><br><br>
            <input type="submit" class="btn btn-primary"value="Submit term">
        </form>
    </div> 
</div>


  <div class="col-lg-12 p-3">
    {% if data_term %}
        <h2 class="items-center text-center mt-5"> Data from term</h2>
        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col"> Category</th>
            <th scope="col">Country</th>
            <th scope="col">Currency</th>
            <th scope="col">esID</th>
            <th scope="col">Frequency</th>
            <th scope="col">Group</th>
            <th scope="col">iids</th>
            <th scope="col">Importance</th>
            <th scope="col">s</th>
            <th scope="col">Type</th>
            <th scope="col">unit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in  data_term.hits %}
                <tr>
            
            <td>{{item.category }}</td>
                <td>{{item.country}}</td>
                <td>{{item.currency }}</td>
                <td>{{item.esID}}</td>
                <td>{{item.frequency}}</td>
                <td>{{item.group}}</td>
                <td>{{item.iids}}</td>
                <td>{{item.importance}}</td>
                <td>{{item.s}}</td>
                <td>{{item.type }}</td>
                <td>{{item.unit}}</td>
            
                </tr>
            {% endfor %}
            </tbody>
      </table>
   
  
    {% endif %}
</div>


</body>
</html>