<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
  <title>Forecasts</title>
</head>
<body >
    <h1 style='margin-left: 200px;'>Trading Economics forecast for India and United States Imports and Exports</h1>
    <div class="table" >
          <table border="2" style="align-self: center;" class="dataframe" >
            <thead>
              <tr style="text-align: right;">
                <th></th>
                <th>Country</th>
                <th>Category</th>
                <th>LatestValue</th>
                <th>LatestValueDate</th>
                <th>YearEnd</th>
                <th>YearEnd2</th>
                <th>YearEnd3</th>
                <th>q1</th>
                <th>q1_date</th>
                <th>q2</th>
                <th>q2_date</th>
                <th>q3</th>
                <th>q3_date</th>
                <th>q4</th>
                <th>q4_date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>0</th>
                <td>India</td>
                <td>Exports</td>
                <td>26360.0</td>
                <td>2019-01-31T00:00:00</td>
                <td>30000.0</td>
                <td>28900.0</td>
                <td>28900.0</td>
                <td>27962.19</td>
                <td>2019-03-31T00:00:00</td>
                <td>27452.67</td>
                <td>2019-06-30T00:00:00</td>
                <td>28018.71</td>
                <td>2019-09-30T00:00:00</td>
                <td>30000.0</td>
                <td>2019-12-31T00:00:00</td>
              </tr>
              <tr>
                <th>1</th>
                <td>India</td>
                <td>Imports</td>
                <td>41090.0</td>
                <td>2019-01-31T00:00:00</td>
                <td>45900.0</td>
                <td>43000.0</td>
                <td>43000.0</td>
                <td>43231.63</td>
                <td>2019-03-31T00:00:00</td>
                <td>43211.63</td>
                <td>2019-06-30T00:00:00</td>
                <td>43209.38</td>
                <td>2019-09-30T00:00:00</td>
                <td>45900.0</td>
                <td>2019-12-31T00:00:00</td>
              </tr>
              <tr>
                <th>2</th>
                <td>United States</td>
                <td>Exports</td>
                <td>205116.0</td>
                <td>2018-12-31T00:00:00</td>
                <td>198000.0</td>
                <td>206000.0</td>
                <td>206000.0</td>
                <td>207000.00</td>
                <td>2019-03-31T00:00:00</td>
                <td>213000.00</td>
                <td>2019-06-30T00:00:00</td>
                <td>213000.00</td>
                <td>2019-09-30T00:00:00</td>
                <td>198000.0</td>
                <td>2019-12-31T00:00:00</td>
              </tr>
              <tr>
                <th>3</th>
                <td>United States</td>
                <td>Imports</td>
                <td>264885.0</td>
                <td>2018-12-31T00:00:00</td>
                <td>258000.0</td>
                <td>259000.0</td>
                <td>259000.0</td>
                <td>259000.00</td>
                <td>2019-03-31T00:00:00</td>
                <td>257000.00</td>
                <td>2019-06-30T00:00:00</td>
                <td>269000.00</td>
                <td>2019-09-30T00:00:00</td>
                <td>258000.0</td>
                <td>2019-12-31T00:00:00</td>
              </tr>
            </tbody>
          </table>
        </div>
    </body>
</html>  