.App {
  text-align: center;
}

.App-content {
  margin-bottom: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.form {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

fieldset {
  border: none;
}

input , select {
  display: block;
  width: 100%;
  /* margin-bottom: 15px; */
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
}


.dateForm {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  display: flex;
  justify-content:space-between;
}

label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

.button-class{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.enabled-button{
  background-color: rgb(0, 153, 255);
  color: white;
  cursor: pointer;
}

.disabled-button {
  background-color: #ccc; /* Light gray */
  color: #666; /* Dark gray */
  cursor: not-allowed;
}

.reset{
  background-color: #9B111E;
}
button {
  padding: 10px;
  border-radius: 10px;
 /* margin: 15px;*/
  border: none;
  color: white;
  cursor: pointer;
  width: 25%;
  font-size: 16px;
}

.loader {
  display: flex;
  justify-content: center; 
  align-items: 'center';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
