.content blockquote>p{
    background-color:#292929;
    border-radius:0px;color:#ccc;
    border:none;
    padding:0px
}
.content code,.content pre{
    font-family:Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    font-size:12px;
    line-height:1.5;
    background-color:#1c1c1c
}
.content pre a,.content blockquote a{
    color:#0099e5;
    text-decoration:none;
    word-break:break-word
}
code.prettyprint{
    background-color:rgba(147,147,147,0.15);
    white-space:pre-line;
    display:-webkit-inline-box
}
