.table {       
    position: absolute;
    font-size: 150%;
    width: 480px;
    height: 200px;
    z-index: 15;
    top: 20%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: rgb(236, 240, 204);
    }

