<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
  <title>Show CSV</title>
</head>
<body>
    <div class="table">
        <table border="1" class="dataframe">
            <thead>
            <tr style="text-align: right;">
                <th></th>
                <th>CalendarId</th>
                <th>Date</th>
                <th>Country</th>
                <th>Category</th>
                <th>Event</th>
                <th>Reference</th>
                <th>Unit</th>
                <th>Source</th>
                <th>Actual</th>
                <th>Previous</th>
                <th>Forecast</th>
                <th>TEForecast</th>
                <th>Importance</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>0</th>
                <td>155121</td>
                <td>2018-04-05T12:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>Feb</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$262.04B</td>
                <td>$257.61B</td>
                <td></td>
                <td>$ 261.1B</td>
                <td>1</td>
            </tr>
            <tr>
                <th>1</th>
                <td>157244</td>
                <td>2018-05-03T12:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>Mar</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$257.48B</td>
                <td>$262.09B</td>
                <td></td>
                <td>$ 260B</td>
                <td>1</td>
            </tr>
            <tr>
                <th>2</th>
                <td>158993</td>
                <td>2018-06-06T12:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>Apr</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$257.44B</td>
                <td>$257.87B</td>
                <td></td>
                <td>$ 256B</td>
                <td>1</td>
            </tr>
            <tr>
                <th>3</th>
                <td>161074</td>
                <td>2018-07-06T12:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>May</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$258.38B</td>
                <td>$257.32B</td>
                <td></td>
                <td>$ 258.4B</td>
                <td>1</td>
            </tr>
            <tr>
                <th>4</th>
                <td>162676</td>
                <td>2018-08-03T12:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>Jun</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$260.16B</td>
                <td>$258.53B</td>
                <td></td>
                <td>$ 257.8B</td>
                <td>1</td>
            </tr>
            <tr>
                <th>5</th>
                <td>164528</td>
                <td>2018-09-05T12:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>Jul</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$261.2B</td>
                <td>$258.93B</td>
                <td></td>
                <td>$ 259.8B</td>
                <td>1</td>
            </tr>
            <tr>
                <th>6</th>
                <td>166300</td>
                <td>2018-10-05T12:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>Aug</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$262.67B</td>
                <td>$261.1B</td>
                <td></td>
                <td>$ 261.8B</td>
                <td>1</td>
            </tr>
            <tr>
                <th>7</th>
                <td>167981</td>
                <td>2018-11-02T12:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>Sep</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$266.58B</td>
                <td>$262.75B</td>
                <td></td>
                <td>$ 263.7B</td>
                <td>1</td>
            </tr>
            <tr>
                <th>8</th>
                <td>169878</td>
                <td>2018-12-06T13:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>Oct</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$266.53B</td>
                <td>$265.91B</td>
                <td></td>
                <td>$ 267.5B</td>
                <td>1</td>
            </tr>
            <tr>
                <th>9</th>
                <td>178278</td>
                <td>2019-02-06T13:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>Nov</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$259.2B</td>
                <td>$266.9B</td>
                <td></td>
                <td>$ 264B</td>
                <td>1</td>
            </tr>
            <tr>
                <th>10</th>
                <td>179824</td>
                <td>2019-03-06T13:30:00</td>
                <td>United States</td>
                <td>Imports</td>
                <td>Imports</td>
                <td>Dec</td>
                <td></td>
                <td>U.S. Census Bureau</td>
                <td>$264.9B</td>
                <td>$259.4B</td>
                <td></td>
                <td>$263B</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>  